@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
html {
  background-image: url("/images/carbg.png");
  background-repeat: repeat;
}
.car-background {
  background-image: linear-gradient(
    180deg,
    #ffffff69,
    #f0f0f0d7
  ); /* ,
    url("/images/carbg.png");
  background-repeat: repeat; */
}
html,
body,
input,
select,
textarea {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.pageHolder,
.pageHolderInside,
.pageHolderHero,
.heroHolder,
.heroPage,
.heroContentHeader,
.heroContent,
.card,
.graycard,
.footerContainer,
input,
select,
.navContainer,
.navContainer,
.profileMenu,
.column-three,
.column-two,
.navButtons,
.badgeHolder,
.cardHero,
.sideNavContainer,
.sideNavButton,
.sideNavButtons,
.cardbase,
.column-maincontent,
.upgradeTable #separator,
textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
h2 {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 5px;
}
#pattern-name {
  font-weight: 900;
}
#pattern-parameter {
  color: blue;
  font-style: italic;
}

.column-two {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100%;
}
.pattern-link {
  text-decoration: underline;
  color: rgb(180, 129, 19);
  font-size: 14px;
  cursor: pointer;
  line-height: 2;
}

.pattern-link:hover {
  text-decoration: underline;
  color: rgb(66, 46, 2);
}

/* ///// */

.pageHolderInside {
  position: absolute;
  width: 100%;
  margin-top: 0px;
  height: 100%;
}

.margin-right,
.margin-left {
  background-color: #ffffff;
  height: 100%;
}
.margin-right {
  box-shadow: -1px 0px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 25px;
}
.margin-left {
  box-shadow: 1px 0px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.pattern-list li {
  font-size: 14px;
  cursor: pointer;
  line-height: 2;
}

.pattern-list li:hover {
  text-decoration: underline;
  color: rgb(180, 129, 19);
}

.column-maincontent {
  padding: 20px;
}
.column-maincontent-nopadding {
  padding: 0 20px 20px 20px;
  max-width: 900px;
}

.card {
  -moz-transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.card {
  position: relative;

  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  padding: 20px;
  width: 100%;
}
.card {
  background: #ffffff;
}
.uiNav {
  display: flex;
  margin: 20px 0 20px 0;
}
.uiNav span {
  margin-right: 10px;
}
.uiNav span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.navOn {
  color: crimson;
  text-decoration: underline;
  font-weight: 700;
}
.colorGrid,
.colorGrid-panel {
  display: grid;

  grid-gap: 20px;
  grid-row-gap: 40px;
}
.colorGrid {
  grid-template-columns: 2fr 1fr 2fr 1fr;
}
.colorGrid-panel {
  grid-template-columns: 1fr 1fr 2fr;
}
.colorBox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dark {
  border: 1px solid #c0c0c0;
  color: white;
  padding: 10px;
}
.light {
  background: #241c15;
  padding: 10px;

  border: 1px solid #c0c0c0;
}
.colorBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-right: 10px;
  color: #241c15;
  text-align: right;
}

.primaryBackground {
  background-color: #000000;
  background-image: url("/images/bgTile.png"),
    linear-gradient(270deg, #000000 0%, #444444 51%, #000000 100%);
  background-repeat: repeat;
  background-size: 40px, cover, cover;
  background-position: top left, center center, center center;
}

.heroBackground {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("/images/heroBack.jpg") no-repeat center center;
  background-repeat: none;
  background-size: cover;
}

.blackOverlay {
  background: rgba(0, 0, 0, 0.5);
}

.raisedCard {
  background-color: #4e4e4e;
  background-image: url("/images/bgTile.png"),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.67) 0%,
      rgba(136, 136, 136, 0.28) 100%
    );
  background-repeat: repeat;
  background-size: 40px, cover, cover;
  background-position: top left, center center, center center;
}

.solidWhitePanel {
  background: #f8f8ff;
}

.titleBar {
  background-color: #4e4e4e;
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.08) 50%,
      rgba(0, 0, 0, 0.03) 43%
    ),
    linear-gradient(180deg, #3b3b3b 0%, #000000 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5),
    inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}
.titleBar-highlight {
  background-color: #4e4e4e;
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.08) 50%,
      rgba(0, 0, 0, 0.03) 43%
    ),
    linear-gradient(180deg, #cc9600 0%, #683300 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5),
    inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.title-watch {
  background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.07) 60%,
      rgba(255, 255, 255, 0.08) 60%
    ),
    linear-gradient(180deg, rgba(190, 3, 75, 0.99) 2%, #000000 98%);
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #f8f8ff;
}
.title-scores {
  background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.07) 60%,
      rgba(255, 255, 255, 0.08) 60%
    ),
    linear-gradient(180deg, #be8703 2%, #000000 98%);
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #f8f8ff;
}
.title-immersive {
  background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.07) 60%,
      rgba(255, 255, 255, 0.08) 60%
    ),
    linear-gradient(180deg, #008c4e 2%, #000000 98%);
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #f8f8ff;
}
.title-nextgen {
  background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.07) 60%,
      rgba(255, 255, 255, 0.08) 60%
    ),
    linear-gradient(180deg, #008ef9 2%, #000000 98%);
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #f8f8ff;
}
